<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Details</title>
</head>
<body>
    <h1>Campaign Details</h1>
    <h2>{{ campaign.title }}</h2>
    <p>Description: {{ campaign.description }}</p>
    <p>Goal Amount: $ {{ campaign.goal_amount }}</p>
    <p>Collected Amount: $ {{ campaign.collected_amount }}</p>
    <p>ID: {{ campaign.id }}</p>
    <!-- <a href="{% url 'checkout_payment' %}" target="_blank">Contribute</a> -->
    <form action="{% url 'checkout_payment' %}" method="post" target="_blank"  >
        {% csrf_token %}
        <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
        <button type="submit">Checkout</button>
    </form>
</body>
<!-- <script>
    sessionStorage.setItem('campaign_id', 4);
</script> -->
</html>
