@media screen and (max-width:992px) {
    .project__info-content,
    .showed-data__container,
    .about-project__container,
    .back-project__content,
    .thanks-content {
        width: var(--width-80);
        padding: 30px;
    }

    .thanks-content {
        width: var(--width-60);
    }
}

@media screen and (max-width:768px) {
    .pc-nav {
        justify-content: space-between;
        align-items: center;
        padding: 30px 25px;
        z-index: 99;
    }

    .pc-nav__list {
        position: absolute;
        top: 70%;
        margin-top: 14px;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        border-radius: 10px;
        width: var(--width-90);
        opacity: 0;
        visibility: hidden;
    }

    .pc-nav__list-items {
        width: 100%;
        border-bottom: 1px solid hsla(0, 0%, 48%, 0.2);
        padding: 20px 15px;
        margin: 0;
        font-size: xx-large;
        /*color: white;*/
    }

    .pc-nav__list-items:nth-child(3) {
        border-bottom: none;
    }

    .pc-nav__list-items a {
        color: #fff;
    }

    .hamburger-icon {
        display: block;
    }

    .project__info-content,
    .showed-data__container,
    .about-project__container,
    .back-project__content,
    .thanks-content {
        width: var(--width-90);
        padding: 30px;
    }

    .thanks-content {
        width: 70%;
    }

    .back-project__content {
        padding: 20px;
    }

    .backed__money-container,
    .backed__backers-container,
    .backed__days-container {
        padding: 10px 20px;
    }

    .backed__money-container {
        padding-left: 0px;
    }

    .reward-content__heading-container {
        flex-direction: row;
        align-items: center;
    }

    .modal-close-svg {
        top: 1.2%;
    }

    .project {
        padding: 20px;
    }

    .project-radio__label {
        grid-template-columns: 40px auto;
    }

    .project-info {
        grid-template-columns: auto;
    }

    .reward-content__heading,
    .project-left {
        margin-bottom: 0px;
    }

    .project-left {
        order: 4;
        margin-top: 16px;
        text-align: left;
        margin-left: -42px;
    }

    .reward-content__pledge {
        grid-column: 1/-1;
    }

    .project-des {
        margin-left: -38px;
    }

    .pledge-data {
        flex-direction: row;
        align-items: center;
        padding-top: 0px;
        margin-top: 20px;
        grid-column: 1/-1;
    }

    .enter-pledge {
        margin-top: 0;
        line-height: initial;
    }

    .pledge-data__buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .pledge__input-label {
        padding: 5px 12px;
        margin-right: 8px;
    }
}



@media screen and (max-width:586px) {
    .pc-nav {
        justify-content: space-between;
        align-items: center;
        padding: 30px 25px;
        z-index: 99;
    }

    .pc-nav__list {
        position: absolute;
        top: 70%;
        margin-top: 14px;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        border-radius: 10px;
        width: var(--width-90);
        opacity: 0;
        visibility: hidden;
    }

    .pc-nav__list-items {
        width: 100%;
        border-bottom: 1px solid hsla(0, 0%, 48%, 0.2);
        padding: 20px 15px;
        margin: 0;
    }

    .pc-nav__list-items:nth-child(3) {
        border-bottom: none;
    }

    .pc-nav__list-items a {
        color: #000;
    }

    .hamburger-icon {
        display: block;
    }

    .error {
        padding: 15px 10px;
        width: var(--width-90);
    }

    .project__info-content,
    .showed-data__container,
    .about-project__container,
    .back-project__content,
    .thanks-content {
        width: var(--width-90);
        padding: 20px;
    }

    .back-project__content {
        padding: 20px;
    }

    .bookmark-btn {
        padding-right: 0;
    }

    .bookmark-text {
        display: none;
    }
    
    .showed-data__content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .backed__money-container,
    .backed__backers-container,
    .backed__days-container {
        border-right: none;
        border-bottom: 2px solid hsla(0, 0%, 48%, 0.25);
        padding: 20px 0px;
        display: inline-block;
        width: max-content;
        margin: auto;
    }

    .backed__days-container {
        border: none;
    }

    .progress-bar__container {
        margin-top: 10px;
    }

    .select-reward__btn {
        margin-top: 24px;
    }

    .reward-content {
        padding: 20px;
    }

    .reward-content__heading-container,
    .select-reward__btn-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .modal-close-svg {
        top: 1.2%;
    }

    .project {
        padding: 20px;
    }

    .project-radio__label {
        grid-template-columns: 40px auto;
    }

    .project-info {
        grid-template-columns: auto;
    }

    .reward-content__heading,
    .project-left {
        margin-bottom: 15px;
    }

    .project-left {
        order: 4;
        margin-top: 16px;
        text-align: left;
        margin-left: -42px;
    }

    .reward-content__pledge {
        grid-column: 1/-1;
    }

    .project-des {
        margin-left: -38px;
    }

    .pledge-data {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-top: 10px;
        grid-column: 1/-1;
    }

    .enter-pledge {
        margin-top: 0;
        line-height: initial;
    }

    .pledge-data__buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .pledge__input-label {
        padding: 5px 12px;
        margin-right: 8px;
    }
}